:root {
    --color-parrafo: #4A5568;
    --color-degradado-titulo: linear-gradient(to bottom, #DE4396, #0D1C9F40 100%);

    --color-degradado-titulo-dos: linear-gradient(to bottom, #F7666F, #406AFF 100%);
    --color-fondo-boton: #3D63EA;
    --color-texto-boton: #FAFAFA;
    --color-titulo: #1A202C;
    --color-nombre-enlace: #57007B;
    --color-fondo-secundario: #F7F7FA;
    --color-bordes-cajas: #E7DAED;
    --color-degradado-parrafo: linear-gradient(to right, #FF92AE, #FF3D9A 100%);
    --color-degradado-parrafo-secundario: linear-gradient(to right, #67E9F1, #24E795 100%);
    --fuente-titulo: 'Arial', sans-serif;
    --fuente-parrafo: Arial, sans-serif;
    --color-degradado-boton: linear-gradient(to right, #6675F7, #57007B 100%);
}

#navegador {
    display: flex;
    justify-content: space-between;
}

.degradado-nav {
    width: 100%;
    height: 25px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.titulo-principal {
    margin: 0;
}

#titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    font-family: Helvetica;
    font-size: 20px;
}

#nav-list {
    display: flex;
    list-style: none;
    gap: 30px;
}

#nav-list a {
    text-decoration: none;
    color: var(--color-parrafo);
}


#button-contact {
    width: 124px;
    height: 42px;
    border: none;
    background: var(--color-degradado-boton);
    color: white;
    margin: 0 15px;
    border-radius: 5px;
}

#seccion1 {
    width: 1145px;
    height: 546px;
    /*border: 1px solid black;*/
    margin: 30px auto;
    display: flex;
}

.sec-izq {
    width: 531px;
    height: 546px;
    /*border: 1px solid green;*/
    /* Añadido para centrar el contenido */
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-der {
    width: 614px;
    height: 546px;
    /*border: 1px solid blue;*/
}

.caja-izq {
    width: 531px;
    height: 355px;
    /*border: 1px solid green;*/
    position: relative;
    padding: 20px
}


.texto1 {
    font-family: 'Open Sans Light', sans-serif;
    color: var(--color-titulo);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

}

.texto2 {
    font-family: 'Nunito Sans Bold', sans-serif;
    background: var(--color-degradado-titulo);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.texto3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 1000;
    font-size: 45px;
    color: var(--color-titulo)
}

.texto4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 1000;
    font-size: 45px;
    background: var(--color-degradado-titulo-dos);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.parrafo-izq {
    font-family: var(--fuente-parrafo);
    color: var(--color-parrafo);
    line-height: 1.8;
}

.button-izq {
    width: 175px;
    height: 52px;
    border-radius: 5px;
    border: none;
    background-color: var(--color-fondo-boton);
    color: white;

    position: absolute;
    bottom: 20px;
    left: 20px;
}

.sec-der img {
    width: 614px;
    height: 546px;
}

#seccion3 {
    width: 1440px;
    height: 1142px;
    border: 16px;
    padding: 16px 8px;
    font-family: var(--fuente-parrafo);
    color: var(--color-parrafo);
    content: 344px 100px;
    margin: auto; 
    background: var(--color-fondo-secundario);
}

#titulo-seccion-3 {
    font-size: 35px;
    text-align: center;
    color: black;
    margin-top: 70px;
    margin-bottom: 110px;

}

.col1, .col2{
    display: inline-block;
    width: 620px;
    
}

#cajas {
    text-align: center;
}


.cartas {
    display: flex;
    background: white;
    width: 604px;
    height: 237px;
    margin-bottom: 20px;
}

.informacion {
    display: flex;
    width: 537px;
    height: 139px;
    margin: 59px 0px 0px 34px;
    text-align: justify;
}

#icono1, #icono2, #icono3, #icono4, #icono5, #icono6 {
    margin-right: 20px;
}

#icono1 img, #icono2 img, #icono3 img, #icono4 img, #icono5 img, #icono6 img{
    border-radius: 20%;
    padding: 10px;
}

#icono1 img {background: #1a202cee;}

#icono2 img {background: linear-gradient(135deg, #f7b2c3, #f751a1cb);}

#icono3 img{background: linear-gradient(to left, #ffe664, #ffc32a);}

#icono4 img {
    background: linear-gradient(to right, #32bae4, #67E9F1);
    width: 25px;
}

#icono5 img {
    background: linear-gradient(to right, #28e6b6, #6fe9ca);
    width: 30px;
}

#icono6 img {  background: linear-gradient(83deg, #590780, #fd3682);}

.informacion h3 {margin-top: 0px;}

#uno {color: #1A202C;}

#dos {color: pink;}

#tres {color: #ffd814;}

#cuatro {color: #4ee9f1;}

#cinco {color: #7ee6dd;}

#seis {color: rgb(231, 114, 196);}


